*{
    font-family: "Sora", sans-serif;
}

.icon-chat svg{
    color:  white;
    height: 20px;
    width: 20px;
}

.ancivment-icon svg{
    color: #DD6100;
}

.right-icon svg{
    color: white;
}

.icon-benefit svg{
    color: #DD6100;
}

.icon-page svg{
    width: 20px;
    height: 20px;
    color: #44474E;
}

.icon-footer {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.icon-footer svg {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    color: white;
    stroke-width: 2;
}


@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    animation: marquee 22s linear infinite;
}

@media (min-width: 768px) {
    .animate-marquee {
        animation: none;
    }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}